@import '../../styles/base/_utilities.scss';
@import '../../styles/abstracts/_variables.scss';

/**** Presentation Bloc on Home Page ****/
.containerBlocsHome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80vh;
}

.leftBloc, .rightBloc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    color: white;
}

.rightBloc {
    justify-content: flex-start;
    background-color: rgba(0, 0, 0);
    color: white;
    border-left: 1px solid white;
}

.leftContent {
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    line-height: 100px;
    font-weight: 100;
}

.rightContent {
    padding-left: 40px;
    width: 50%;
    font-size: $text-3xl;
    line-height: $line-height-3xl;
    font-weight: 100;
}

/**** Skill ****/
.listOfSkills {
    padding-top: 150px;
}

.title {
    padding: 50px 0;
    font-weight: 100;
    font-size: $text-3xl;
    margin: 0;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 150px;
    border-bottom: $border-primary;
    opacity: 0;

    &:hover {
        cursor: default;
    }
}

.imageSkill {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameSkill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 100;
}

/**** Projects ****/
.listOfProjects {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}