@import '../../styles/base/_utilities.scss';
@import '../../styles/abstracts/_variables.scss';

/**** Presentation Bloc on Home Page ****/
.wrapperBlocPresentation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.bar {
    background-color: white;
    position: absolute;
}

.topBar {
    top: 0;
    width: 100%;
    height: 20px;
}

.rightBar {
    top: 0;
    right: 0;
    width: 20px;
    height: 100vh;
}

.leftBar {
    top: 0;
    left: 0;
    width: 20px;
    height: 100vh;
}

.BlocPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0 25%;
}

/**** Page layout ****/
.wrapper {
    padding: 0 200px;
    background-color: black;
    position: relative;
}

/**** Skills ****/
.wrapperListSkills {
    display: flex;
    flex-direction: column;
    // TODO
    padding-top: 200px;
    color: white;
}

.containerList {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: $pt-xl;
}

/**** Projects ****/
.wrapperListProjects {
    display: flex;
    flex-direction: column;
    // TODO
    padding-top: 200px;
}
