@import '../../styles/base/_utilities.scss';
@import '../../styles/abstracts/_variables.scss';

/**** Presentation Bloc on Home Page ****/
.containerBlocPresentation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.bar {
    background-color: white;
    position: absolute;
}

.topBar {
    top: 0;
    width: 100%;
    height: 20px;
}

.rightBar {
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
}

.leftBar {
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
}

.BlocPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0 25%;
}

/**** Skill ****/
.listOfSkills {
    padding-top: 150px;
    color: white;
}

.title {
    padding: 50px 0;
    font-weight: 100;
    font-size: $text-3xl;
    margin: 0;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-height: 150px;
    // TODO : changer variable border
    // border-bottom: 1px solid white;
    opacity: 0;

    &:hover {
        cursor: default;
    }
}

.imageSkill {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameSkill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 100;
}

/**** Projects ****/
.listOfProjects {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}