@import '../abstracts/_mixins.scss';

/* Breakpoints variables */
$screen-xs: 375px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;
$screen-3xl: 1920px;

/* Font-size variables */
$text-xs: 0.75rem; /* 12px */
$text-sm: 0.875rem; /* 14px */
$text-normal: 1rem; /* 16px */
$text-lg: 1.125rem; /* 18px */
$text-xl: 1.25rem; /* 20px */
$text-2xl: 1.5rem; /* 24px */
$text-3xl: 1.875rem; /* 30px */
$text-4xl: 2.25rem; /* 36px */
$text-5xl: 3rem; /* 48px */
$text-6xl: 3.75rem; /* 60px */

/* Line-height variables */
$line-height-xs: 1rem; /* 16px */
$line-height-sm: 1.25rem; /* 20px */
$line-height-normal: 1.5rem; /* 24px */
$line-height-lg: 1.75rem; /* 28px */
$line-height-xl: 1.75rem; /* 28px */
$line-height-2xl: 2rem; /* 32px */
$line-height-3xl: 2.25rem; /* 36px */
$line-height-4xl: 2.5rem; /* 40px */

/* Spacing variables */
$mt-heading: 1em; /* margin-top */
$mb-heading: 1em; /* margin-bottom */

$pt-xs: 15px; /* padding-top */
$pb-xs: 15px; /* padding-bottom */

$pt-sm: 20px;
$pb-sm: 20px;

$pt-md: 30px;
$pb-md: 30px;

$pt-lg: 30px;
$pb-lg: 35px;

/* Padding left and right - layout */
$px-xs: 15px;
$px-sm: 30px;
$px-md: 100px;
$px-lg: 200px;

/* Container variables */
$container-max-width: 1440px;

/* Colors */
$bg-color-primary: rgba(20, 223, 98, 0.5);
$bg-color-secondary: rgb(110, 110, 116);

/* Others */
$border-primary: 1px solid rgba(0, 0, 0, 0.1);