@import '../styles/base/_utilities.scss';
@import '../styles/abstracts/_variables.scss';

.containerTitle {
    background-color: red;
}

.title {
    text-align: center;
    font-size: 150px;
    font-weight: normal;
}


.text {
    font-size: 50px;
}
