@import '../styles/base/_utilities.scss';
@import '../styles/abstracts/_variables.scss';

.containerPhotoshopPortefolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen-md {
        display: block;
    }
}

.containerPhotoshopImage {
    position: relative;
    width: 250px;
    height: auto;
    padding: 30px 0;

    img {
        border-radius: 10px;
    }

    @include screen-md {
        width: 400px;
        height: 500px;

        &:hover {
            .containerFigcaption {
                top: 0;
                opacity: 1;
                transition: all 0.4s ease;
            }
        }
    }
}

.containerPhotoshopImage:first-child {
    @include screen-md {
        top: 150px;
        left: 100px;
    }
}

.containerPhotoshopImage:nth-child(2) {
    @include screen-md {
        top: 50px;
        left: 700px;
    }
}

.containerPhotoshopImage:nth-child(3) {
    @include screen-md {
        top: 50px;
        left: 100px;
    }
}

.containerPhotoshopImage:nth-child(4) {
    @include screen-md {
        top: -250px;
        left: 700px;
    }
}

.containerPhotoshopImage:nth-child(5) {
    padding-bottom: 80px;
    @include screen-md {
        top: -500px;
        left: 100px;
        padding-bottom: 0px;
    }
}

.containerFigcaption {
    opacity: 1;
    figcaption {
        color: white;
        font-size: $text-normal;
    }

    @include screen-md {
        position: relative;
        top: -50px;
        opacity: 0;
        font-size: $text-normal;
    }
}