/* RESET DEFAULT CSS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'Helvetica', sans-serif;
    color: white;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: red;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* BODY */
body {
    @extend .text-body;
}

/* HEADING */
h1 {
    @extend .text-h1;
    margin-top: $mt-heading;
    margin-bottom: $mb-heading;
}

h2 {
    @extend .text-h2;
    margin-top: $mt-heading;
    margin-bottom: $mb-heading;
}

h3 {
    @extend .text-h3;
    margin-top: $mt-heading;
    margin-bottom: $mb-heading;
}

h4 {
    @extend .text-h4;
    margin-top: $mt-heading;
    margin-bottom: $mb-heading;
}

h5 {
    @extend .text-h5;
    margin-top: $mt-heading;
    margin-bottom: $mb-heading;
}

h6 {
    @extend .text-h6;
    margin-top: $mt-heading;
    margin-bottom: $mb-heading;
}

/* CONTENT */
ul {
    padding-left: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}