// containerProject
// containerImageProject
// containerNameProject
// containerDescriptionProject
// containerStacksProject

.container {
    background-color: green;
    max-width: 300px;
    max-height: 400px;
}

.containerName {
    background-color: pink;
}

.containerDescription {
    background-color: skyblue;
}

.containerStacks {
    background-color: greenyellow;
}