@import '../../../styles/abstracts/variables';

.container {
    min-height: 400px;
    max-width: 350px;
    border-right: $border-primary;
}

.containerImage {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTitle {
    padding: 20px;
    text-align: center;
}

.containerDescription {
    padding: 20px;
    min-height: 100px;
}

.containerStacks {
    display: flex;
    flex-direction: column;;
    padding: 20px;
    min-height: 100px;
}