@import '../../../styles/abstracts/variables';

// Do local variables here
// Local = variables only for this file

.wrapperCard {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    color: white;
}

.containerImageAndStack {
    // TODO
    padding: 30px;
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid white;
    border-radius: 10px;
}

.containerTitleAndDescription {
    // TODO
    padding: 30px 0 30px 50px;
    width: 50%;
}

.projectImage {
    display: flex;
    justify-content: center;
}

.projectTitle {
    font-size: 50px;
}

.projectDescription {
    font-weight: 100;
    min-height: 100px;
    // TODO
    padding: 30px 0;
}

.visitProject {
    padding: 10px 0;
}

.projectStack {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
