@import '../../../styles/abstracts/variables';

$p-base-project-card: 30px;
$p-xl-project-card: 80px;

.wrapperCard {
    display: flex;
    justify-content: center;
    padding-top: $p-xl-project-card;
    padding-bottom: $p-xl-project-card;
    color: white;
}

.containerImageAndStack {
    padding: $p-base-project-card;
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid white;
    border-radius: 10px;
}

.containerTitleAndDescription {
    padding-top: $p-base-project-card;
    padding-bottom: $p-base-project-card;
    padding-left: 50px;
    width: 50%;
}

.projectImage {
    display: flex;
    justify-content: center;
}

.projectTitle {
    font-size: 50px;
}

.projectTitleOnHover {
    transition: all 0.4s ease;
    color: red;
}

.projectDescription {
    padding-top: $p-base-project-card;
    padding-bottom: $p-base-project-card;
    font-weight: 100;
    min-height: 100px;
}

.arrowVisitProject {
    padding: 10px 0;
}

.projectStack {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
